<!DOCTYPE>
<html>
  <head>
    <title>{{ page_title or "Docbrowser" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='docbrowser/style.css') }}"/>
  </head>
  <body>
    <h1>{{ page_title or "Docbrowser" }}</h1>
    <ul>
      {% for mount in docs %}
      <li>{{ mount.name }}</li>
      <ul>
        {% for version in mount.get_versions() %}
        <li><a href="{{ url_for('doc', slug=mount.slug, version=version) }}">{{ version }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </ul>
  </body>
</html>
