#docbrowser {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}
#docbrowser * {
  font-family: monospace;
}
#docbrowser .inner {
  pointer-events: auto;
  height: 100%;
  padding: 1em;
  background-color: white;
  border-right: 1px solid gray;
  width: 600px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#docbrowser .row {
  display: flex;
  align-items: center;
}
#docbrowser .flex {
  flex: 1;
}
#docbrowser span.doc-title {
  font: 200% monospace;
  font-weight: bold;
}
#docbrowser hr {
  border: 0px solid gray;
  border-bottom-width: 1px;
  margin: 1em 0;
}
#docbrowser-close, #docbrowser-open {
  background: transparent;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}
#docbrowser-close {
  background-image: url(/static/docbrowser/previous.png);
}
#docbrowser-open {
  transition: left 0.5s;
  position: fixed;
  left: -5px;
  top: 1.5em;
  background-image: url(/static/docbrowser/next.png);
  background-color: white;
  border-radius: 100px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#docbrowser-open:hover {
  left: 0;
}
