#docbrowser-header {
  font: 14px/20px sans-serif;
  color: #193244;
  background-color: #61bdff;
  border-bottom: 5px solid #ffe585;
  padding: 10px 15px;
}
#docbrowser-header .version {
  margin-left: 1em;
}
